@*@model string*@
@{
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

<a href="@Url.Action("Create", controllerName)" class="btn btn-sm btn-outline-secondary">
    <i class="fa-solid fa-plus"></i>
    新增
</a>
